
asgiref
autopep8
CacheControl
cachetools
certifi
cffi
chardet
charset-normalizer
cloudinary
cmake
coreapi
coreschema
cryptography
cssselect2
Django==3.1.1
channels==2.4.0
django-admin-thumbnails
django-ckeditor
django-cors-headers
django-countries
django-filter
django-js-asset
django-mptt
django-resized
djangorestframework
djangorestframework-recursive
djangorestframework-simplejwt
facebook-sdk
Faker
firebase-admin
future
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
gunicorn
html5lib
httplib2
idna
inflection
itypes
Jinja2
lxml
MarkupSafe
msgpack
oauthlib
packaging
Pillow
proto-plus
protobuf
pyasn1
pyasn1-modules
pycodestyle
pycparser
pyfcm
PyJWT
pyparsing
PyPDF3
python-bidi
python-dateutil
python-slugify
python-twitter
pytz
requests
requests-oauthlib
rsa
six
sorl-thumbnail
sqlparse
stripe
text-unidecode
tinycss2
toml
tqdm
uritemplate
urllib3
webencodings
dj-database-url
twilio
livekit-server-sdk-python
daphne
